[Desktop Entry]
Version=1.0
Name=teamGit
GenericName=Git Gui
Comment=Organize, enjoy, and share your code
Exec=teamgit
Icon=teamgit_icon
StartupNotify=true
Terminal=false
Type=Application
Categories=Development;Qt;RevisionControl;
