Source: teamgit
Section: devel
Priority: optional
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: Abhijit Bhopatkar <bain@devslashzero.com>
Build-Depends: debhelper (>= 7), libqt4-dev, libavahi-compat-libdnssd-dev
Standards-Version: 3.8.0
Homepage: http://www.devslashzero.com/teamgit

Package: teamgit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, git (>= 1.5)
Description: Visual frontend for git
 Teamgit is farely usable gui for git. Currently it supports fair 
 number of git operations including commit, branch/tag, remote branch 
 management and pull-push Its ultimate aim is to become a one stop tool 
 for developers working in close teams.
 
